<div class="container">
  <h1>Pick your items</h1>
  <div class="row">
    <div class="col-6">
      <img src="assets/phone_mini.gif" alt="">
      <p>Phone Mini</p>
    </div>
    <div class="col-6">
      <img src="assets/phone_standard.gif" alt="">
      <p>Phone Standard</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <img src="assets/phone_xl.gif" alt="">
      <p>Phone XL</p>
    </div>
    <div class="col-6">
      <img src="assets/fake.gif" alt="">
      <p>Phone Fake</p>
    </div>
  </div>
</div>