<mat-toolbar color="primary">
  <img src="assets/logo.png" alt="Logo">
  <span>Angular Example</span>
</mat-toolbar>
<div *ngIf="isLoading || error || noScannerConnected" class="loading-screen">
  <ng-container *ngIf="isLoading">
    <mat-spinner></mat-spinner>
    <p>Connecting to NIMMSTA App...</p>
  </ng-container>
  <ng-container *ngIf="noScannerConnected">
    <p>No scanner connected.</p>
    <button (click)="displayConnectActivity()" mat-raised-button color="primary">Connect Scanner</button>
  </ng-container>
  <ng-container *ngIf="error">
    <p class="error">{{error}}</p>
  </ng-container>
</div>
<router-outlet></router-outlet>
